/* styles.css */
.App {
  padding-top: 1.5rem;
  padding: 2rem;
  align-items: center;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.search-container {
  margin: 0 10%;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &:hover {
    border-color: rgba(11, 130, 234, 0.763);
  }

  &:focus-within {
    border-color: rgba(11, 130, 234, 0.763);
    border-width: 2px;
  }
}

.search-container input[type="text"] 
 {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-container button {
  background: rgba(11, 130, 234, 0.763);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.fas {
  font-size: 18px;
}

.model-container {
  margin: 20px 400px;
}

.model-title {
  font-size: 24px;
  font-weight: 600;
}

.model-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.vehicle-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;

  li {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 10px 10px;
    
    &:hover {
      transform: scale(1.02);
      box-shadow: rgba(11, 130, 234, 0.763);
    }
  
    &:focus-within {
      border-color: rgba(11, 130, 234, 0.763);
      border-width: 2px;
    }
  }
}
.vehicle-card { 
  width: 100%;
}

.vehicle-card__title {
  font-size: 18px;
  font-weight: 600;
}

.vehicle-card__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vehicle-card__image {
  background-image: url('../public/thumbnail_ex.svg');
  background-size: cover;
  background-position: center;
  
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.vehicle-card__price {
  padding-top: 1rem;
  font-size: 18px;
  font-weight: 600;
}